<nav class="navbar navbar-expand-lg navbar-dark bg-dark sombra">
  <a class="navbar-brand" routerLink="/">WebGames</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

      <li class="nav-item">
        <a class="nav-link " routerLink="/videojuegos">Videojuegos</a>
      </li>
      <li class="ml-4">
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <input type="text" placeholder="Buscar..." aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                <a class="text-dark" routerLink="/detalle/{{option.id}}">{{option.name}}</a> 
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </li>
    </ul>

   

  </div>
</nav>
<div class="buscador">

  <div class="d-flex justify-content-center pr-2">
      <ul *ngFor="let categoria of categorias" class="mt-1">
        <a routerLink="/categorias/{{categoria.id}}"> <li class="categorias">{{categoria.name}} </li></a>
      </ul>
      <ul class="mt-1">
        <a routerLink="/videojuegos"> <li class="categorias">Todos </li></a>
      </ul>
    </div>
</div>



<router-outlet></router-outlet>
