
    <fieldset>
      <p class="mt-3">Disponibilidad</p> 
      <div class="form-group mt-2">
        <div class="custom-control custom-radio">
          <a class="text-success" routerLink="/disponibles">Disponibles</a>
          
        </div>
        <div class="custom-control custom-radio">
          <a class="text-success"  routerLink="/agotados">Agotados</a>
        </div>
        <div class="custom-control custom-radio">
            <a class="text-success"  routerLink="/bestSeller">Más vendidos</a>
        </div>
      </div>
      <hr>
      <p class="mt-3">Precio</p> 
      <div class="form-group mt-2">
          <div class="custom-control custom-radio">
            <a class="text-success" routerLink="/mayor">Mayor a 10,000</a>
          </div>
          <div class="custom-control custom-radio">
            <a class="text-success" routerLink="/menor">Menor a 30,000</a>
          </div>
        </div>
      <hr>
      <p class="mt-3">Ordenar</p> 
      <div class="form-group mt-2">
          <div class="custom-control custom-radio">
            <a class="text-secondary" >Nombre</a>
          </div>
            <div class="custom-control custom-radio">
            <a class="text-secondary" >Mayor precio</a>
          </div>
          <div class="custom-control custom-radio">
            <a class="text-secondary" >Menor precio</a>
          </div>
        </div>
    </fieldset>
    <hr>
  