
    <fieldset>
      <p class="mt-3">Disponibilidad</p> 
      <div class="form-group mt-2">
        <div class="custom-control custom-radio">
          <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" checked="">
          <label class="custom-control-label" for="customRadio1">Disponibles</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
          <label class="custom-control-label" for="customRadio2">Agotados</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
            <label class="custom-control-label" for="customRadio3">Más vendidos</label>
        </div>
      </div>
      <hr>
      <p class="mt-3">Precio</p> 
      <div class="form-group mt-2">
          <div class="custom-control custom-radio">
            <input type="radio" id="customRadio4" name="customRadio" class="custom-control-input" checked=""  >
            <label class="custom-control-label" for="customRadio4">Mayor a 10,000</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" id="customRadio5" name="customRadio" class="custom-control-input">
            <label class="custom-control-label" for="customRadio5">Menor a 30,000</label>
          </div>
        </div>
      <hr>
      <p class="mt-3">Ordenar</p> 
      <div class="form-group mt-2">
          <div class="custom-control custom-radio">
            <input type="radio" id="customRadio6" name="customRadio" class="custom-control-input" checked="">
            <label class="custom-control-label" for="customRadio6">Nombre</label>
          </div>
            <div class="custom-control custom-radio">
            <input type="radio" id="customRadio7" name="customRadio" class="custom-control-input">
            <label class="custom-control-label" for="customRadio7">Mayor precio</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" id="customRadio8" name="customRadio" class="custom-control-input">
            <label class="custom-control-label" for="customRadio8">Menor precio</label>
          </div>
        </div>
    </fieldset>
    <hr>
  